{% extends "administrador.twig" %}
{% block script %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="../../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="../../vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="../../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="../../vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="../../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../../build/css/custom.min.css" rel="stylesheet">


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        var nextinput = 0;
        function GenerarCampos() {
            var i;
            var cant = document.getElementById("cantidad").value;
            $("#objetos").empty();
            for (i = 0; i < cant; i++) {
                AgregarCampo();
            }
        }
        function AgregarCampo() {
            campo = '<div class="col-md-4 col-sm-12 col-xs-12 form-group"><label class="control-label" for="nombre' + nextinput + '">Nombre *:</label><input type="text" id="nombre' + nextinput + '"&nbsp; name="objeto[' + nextinput + '][nombre]"&nbsp; required class="form-control"/></div><div class="col-md-4 col-sm-12 col-xs-12 form-group"><label class="control-label" for="cant' + nextinput + '">Cantidad *:</label><input type="number"  id="cant' + nextinput + '"&nbsp; name="objeto[' + nextinput + '][cant]"&nbsp; value="1" min="1" required class="form-control"/></div><div class="col-md-4 col-sm-12 col-xs-12 form-group"><label class="control-label" for="descrip' + nextinput + '">Descripción *:</label><input type="text"  id="descrip' + nextinput + '"&nbsp; name="objeto[' + nextinput + '][descrip]"&nbsp; required class="form-control"/></div>';
            nextinput++;
            $("#objetos").append(campo);
        }
    </script>
{% endblock %}    

{% block contenido %}
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="../usuario/administrador.php" class="site_title"><i class="fa fa-shield"></i> <span>Aseguradora SSA</span></a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="../../build/images/user.png" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Bienvenid@,</span>
                                <h2>{{nombreUsuario}}</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->

                        <br />

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3><a href="../usuario/administrador.php" style="color: #fff"><i class="fa fa-home"></i> Inicio </a></h3>
                            </div>
                        </div>
                        <!-- /sidebar menu -->
                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="../../build/images/user.png" alt="">{{nombreUsuario}}
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="../login/logout.php"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesi&oacute;n</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->

                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Registro de Incidente</h3>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Datos del Incidente <small>{% if mensaje %}{{mensaje}}{% endif%}</small></h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <br />
                                        <form id="demo-form" data-parsley-validate action="./realizar_alta_expediente.php" method="POST">
                                            <label for="heard">Tipo *:</label>
                                            <select id="heard" class="form-control" required name="incidente">
                                                {% for incidente in listaIncidentes %}
                                                    <option value="{{incidente['id_incidente']}}" >{{incidente['nombre_incidente']}}</option>
                                                {% endfor %}
                                            </select>
                                            <br/>

                                            <label for="fecha">Fecha *:</label>
                                            <input type="date" id="fecha" class="form-control" name="fecha" required />
                                            <br/>

                                            <label for="cantidad">Cant. de objetos a indemnizar *:</label>
                                            <input type="number" id="cantidad" class="form-control" name="cantidad" value="0" min="1" required onchange="GenerarCampos();" />
                                            <br/>

                                            <label for="descripcion">Descripci&oacute;n de la situaci&oacute;n o motivo por el que se produjo el incidente *:</label>
                                            <textarea id="descripcion" required="required" class="form-control" name="descripcion" data-parsley-trigger="keyup" data-parsley-minlength="5" data-parsley-maxlength="100" data-parsley-minlength-message="Debes ingresar al menos un comentario de 5 caracteres..."
                                                      data-parsley-validation-threshold="10"></textarea>
                                            
                                            <h2 class="page-header">Descripci&oacute;n de cada objeto a indemnizar</h2>
                                            
                                            <div id="objetos"></div>
                                            
                                            <div class="form-group">
                                                    <input  type="reset" value="Cancelar" onclick="window.location.href = '../usuario/administrador.php'" class="btn btn-round btn-primary">
                                                    <input type="submit" value="Registrar" class="btn btn-round btn-success" >
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->

                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Aseguradora SSA
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        <!-- jQuery -->
        <script src="../../vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="../../vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="../../vendors/nprogress/nprogress.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="../../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="../../vendors/iCheck/icheck.min.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="../../vendors/moment/min/moment.min.js"></script>
        <script src="../../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="../../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
        <script src="../../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
        <script src="../../vendors/google-code-prettify/src/prettify.js"></script>
        <!-- jQuery Tags Input -->
        <script src="../../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
        <!-- Switchery -->
        <script src="../../vendors/switchery/dist/switchery.min.js"></script>
        <!-- Select2 -->
        <script src="../../vendors/select2/dist/js/select2.full.min.js"></script>
        <!-- Parsley -->
        <script src="../../vendors/parsleyjs/dist/parsley.min.js"></script>
        <!-- Autosize -->
        <script src="../../vendors/autosize/dist/autosize.min.js"></script>
        <!-- jQuery autocomplete -->
        <script src="../../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        <!-- starrr -->
        <script src="../../vendors/starrr/dist/starrr.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="../../build/js/custom.min.js"></script>

    </body>
{% endblock %}
